/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute !important;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.notALink {
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        color: lightgray;
    }
}

.mat-card {
    background-color: #d92e2e;
}

.mat-toolbar {
    background-color: #d92e2e;
    filter: blur(12);

    .notALink {
        color: white;
        text-decoration: none;
        transition: color 500ms ease;

        &:hover {
            color: black;
        }
    }

    .active {
        animation: stretch 2s ease infinite;
        color: #65aaf7;

        @keyframes stretch {
            0% {
                color: #65aaf7;
            }

            50% {
                color: #2587f7;
            }

            100% {
                color: #65aaf7;
            }
        }
    }
}